.footer {
	background: var(--dark-color);
	padding: 30px 0;
	
	.cols{
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-between;
	}

	.logo{
		color: #fff;
		font-size: 38px;
		font-weight: 600;

		span{
			color: var(--main-color);
		}
	}

	&__phone{
		display: inline-flex;
		align-items: center;
		color: #fff;
		font-size: 20px;
		font-weight: 500;
		font-family: var(--font-second);
		

		a{
			color: inherit;
		}

		i{
			margin-right: 8px;
		}
	}
	

	@media (max-width: 1200px) {
		
	}
}
